*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 80%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.nav li {
    list-style: none;
}

.nav a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.nav h2 {
    cursor: pointer;
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.nav a:hover , .nav h2:hover{
    text-shadow: #17788d  5px 5px 10px;
    
}

.nav {
    min-height: 12vh;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00374a;
}

.nav-boton{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

@media screen and (max-width: 990px){
    .nav-boton{
    width: 40%;
    }
}

@media screen and (max-width: 600px){
    .nav-boton{
    width: 60%;

    }
}